@import 'tailwindcss';
@source "../node_modules/flowbite-datepicker";

body {
  @apply bg-gray-50 dark:bg-gray-900 bg-fixed bg-center bg-no-repeat bg-cover overflow-hidden;
  position: relative;
  font-family: 'Roboto Flex', sans-serif;
}

/*--------------  CUSTOM  ------------------*/

.custom-shape {
  border-radius: 44% 56% 57% 43% / 30% 54% 46% 70%;
  background: linear-gradient(to bottom left, #4319b7, #5d00ff);
  animation: spin 10s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* -------------  BUTTON -------------------*/

.btn {
  @apply text-white bg-gray-400/60 hover:bg-indigo-700 focus:ring-1 focus:outline-none focus:ring-offset-indigo-50 font-medium rounded-lg text-sm px-3
  py-2 text-center dark:bg-gray-400/20 dark:hover:bg-indigo-700 dark:focus:ring-indigo-900 cursor-pointer  transition-colors duration-200;
}

.btn-del {
  @apply transition-colors duration-200 text-white  bg-gray-400/60 dark:bg-gray-400/20 hover:bg-red-800 focus:ring-1 focus:outline-none focus:ring-red-300
  font-medium rounded-lg text-sm px-3 py-2.5 text-center dark:hover:bg-red-900 cursor-pointer;
}

.btn-cancel {
  @apply transition-colors duration-200 text-white  bg-gray-400/60 dark:bg-gray-400/60 hover:bg-red-800 focus:ring-1 focus:outline-none font-medium rounded-lg
  text-sm px-4 py-2.5 text-center dark:hover:bg-gray-600 cursor-pointer;
}

.btn-submit {
  @apply w-full text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-indigo-600
   dark:hover:bg-indigo-700  cursor-pointer;
}

.btn-submit:disabled {
  @apply bg-gray-400 cursor-not-allowed hover:bg-gray-400 dark:bg-gray-600 dark:hover:bg-gray-600;
}

.btn-logout {
  @apply w-full text-white bg-indigo-600 hover:bg-indigo-700 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5
  text-center dark:bg-indigo-600 dark:hover:bg-indigo-700 dark:focus:ring-red-800 cursor-pointer;
}

@layer utilities {
  .hover-submit-btn:hover {
    box-shadow:
      0 0 0 2px #fff,
      0 0 0 4px #0000003a;
  }
}

/* -------------  INPUT -------------------*/

.input-gray {
  @apply bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-gray-600 focus:border-gray-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-indigo-600 dark:focus:border-indigo-600;
}

.input-filter {
  @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-white focus:border-white block w-full p-2.5 dark:bg-gray-700/10 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-white dark:focus:border-white;
}

.input-modal {
  @apply bg-gray-50 border border-gray-300 text-gray-900  text-sm rounded-lg focus:ring-indigo-600 focus:border-indigo-600 block w-full p-2.5 dark:bg-gray-700/10 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-indigo-600 dark:focus:border-indigo-600;
}

.container {
  @apply w-screen h-screen flex justify-center items-center;
}

header {
  @apply mb-8 text-4xl font-bold leading-none tracking-tight text-white md:text-5xl lg:text-6xl dark:text-white;
}

mark {
  @apply px-2 text-white bg-indigo-600 rounded-sm dark:bg-indigo-600;
}

/*--------------- CARD --------------------*/

.card {
  @apply flex flex-col justify-between py-2 px-2 bg-white border border-gray-200 rounded-lg shadow-sm hover:bg-gray-100 dark:bg-gray-800/20 dark:border-gray-700 dark:hover:bg-gray-700;
}

.priority {
  @apply border-l-5;
}

.urgent {
  @apply border-l-red-600  shadow-md shadow-red-600;
}
.urgent-priority {
  @apply w-6 h-6 text-red-500;
}

.high {
  @apply border-l-yellow-500;
}
.high-priority {
  @apply w-6 h-6 text-yellow-500;
}

.medium {
  @apply border-l-lime-500;
}
.midium-priority {
  @apply w-6 h-6 text-green-400;
}

.low {
  @apply border-l-gray-500;
}
.low-priority {
  @apply w-6 h-6 text-gray-500;
}
.new-priority {
  @apply w-6 h-6 text-gray-200;
}

/* -------------  NAVBAR -------------------*/

.nav-title {
  @apply rounded-md px-3 py-2 text-sm font-medium text-gray-600 dark:text-gray-300 hover:bg-white/5 hover:text-indigo-500 transition-all duration-200;
}

.nav-title-active {
  @apply bg-indigo-600 text-white  dark:text-white;
}

/* -------------  TABLE  ------------- */
.tr-head {
  @apply h-12 bg-gray-200/60 border-b dark:bg-gray-800/50 dark:border-gray-700 border-gray-200 hover:bg-gray-50 dark:hover:bg-gray-600 leading-0.5;
}
.tr {
  @apply h-10 bg-gray-200/60 border-b dark:bg-gray-800/50 dark:border-gray-700 border-gray-200 hover:bg-gray-50 dark:hover:bg-gray-600 leading-0.5;
}
/* Применение эффекта к полю статуса при наведении на строку */
.tr:hover .status-cell {
  @apply transition-transform duration-300 ease-in-out transform -translate-x-0.5 -translate-y-0.5;
}

.td {
  @apply px-1 text-sm  text-gray-800 dark:text-gray-300  font-normal  align-middle truncate cursor-pointer;
}
.td-note {
  @apply h-10 px-3 text-sm  text-gray-800 dark:text-gray-300  font-normal  align-middle truncate cursor-pointer;
}

table {
  table-layout: fixed;
}

/*--------------- MODAL ---------------*/

.modal {
  @apply fixed top-20 left-1/2 -translate-x-1/2 w-[800px] p-4 z-1000 rounded-[10px] shadow-[2px_3px_10px_rgba(255,255,255,0.2)] backdrop-blur-[20px] border border-gray-800/50;
}
.modal-confirm {
  @apply bg-gray-200 dark:bg-gray-900 p-6 rounded-xl max-w-[400px] w-[90%] text-gray-500 dark:text-gray-200 border border-gray-100/20 shadow-[0_8px_32px_rgba(0,0,0,0.5)];
}
.modal-backdrop {
  @apply fixed inset-0 bg-gray-200/50 dark:bg-black/35  z-[100];
}

.label-modal-edit {
  @apply block mb-1 text-sm text-gray-800 dark:text-gray-400;
}

.input-modal-edit {
  @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
}

/* ---------- FORM ----------*/

.label-modal {
  @apply block mb-1 mt-1 text-sm text-gray-800 dark:text-gray-400;
}

.area-modal {
  @apply block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-indigo-600 focus:border-indigo-600 dark:bg-gray-700/10 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-indigo-600 dark:focus:border-indigo-600;
}

.select-modal {
  @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-indigo-600 focus:border-indigo-600 block w-full  p-2.5 dark:bg-gray-700/50  dark:border-gray-600/60 dark:placeholder-gray-400 dark:text-gray-200 dark:focus:ring-indigo-600 dark:focus:border-indigo-600;
}

/* --------- СТАТУС -------------------*/

.badge {
  @apply inline-block bg-gray-300 dark:bg-gray-300/10  px-3 py-1 text-[11px] text-center font-medium rounded-lg overflow-hidden  shadow-[2px_2px_2px_rgba(96,96,96,0.5)] transition-all duration-1000 ease-in-out;
}

.badge-time {
  @apply text-[11px] font-normal  align-middle;
}
.truncate-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.time {
  @apply text-gray-300 bg-blue-500 inline-block  px-1 py-0.5  text-[13px] text-center font-medium align-middle rounded-lg overflow-hidden  shadow-[2px_2px_2px_rgba(96,96,96,0.5)] transition-all duration-1000 ease-in-out;
}

/*-------------- СКРОЛЛБАР --------------*/

/* Светлая тема (по умолчанию) */
.scrollable-column::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.scrollable-column::-webkit-scrollbar-track {
  background: #f3f4f6;
  border-radius: 10px;
}

.scrollable-column::-webkit-scrollbar-thumb {
  background: #d1d5db;
  border-radius: 10px;
}

.scrollable-column::-webkit-scrollbar-thumb:hover {
  background: #9ca3af;
}

/* Тёмная тема — через медиа-запрос */
@media (prefers-color-scheme: dark) {
  .scrollable-column::-webkit-scrollbar-track {
    background: #1f2937;
  }

  .scrollable-column::-webkit-scrollbar-thumb {
    background: #17202d;
  }

  .scrollable-column::-webkit-scrollbar-thumb:hover {
    background: #6b7280;
  }
}
